#canvas {
    position: absolute;
    width: 855px;
    height: 480px;
    z-index: 0;
}

#scoreboard {
    position: absolute;
    top: 10px;
    left: 60px;
    font-size: 30px;
    font-weight: 600;
    color: red;
    z-index: 1;
}